* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E1012;
    font-family: 'Source Sans Pro', sans-serif;
}

.container1 {
    border: 3px solid white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: relative;
    height: 400px;
}

.container1 header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 3px solid white;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: white;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

label {
    position: absolute;
    left: 20px;
    color: #ffffff80;
    pointer-events: none;
    transition: .2s;
}

i {
    position: absolute;
    right: 15px;
    color: #ffffff;
}

button {
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}
button:hover {
    background-color: #ccc;
    color: white;
    
}

input:valid+label,
input:focus+label {
    background-color: white;
    color: black;
    transform: translate(10px, -20px);
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

a {
    color: #00baff;
}
a:hover{
    color: lightskyblue;
    transition: 0.25s ease;
}

.signup {
    text-align: center;
    color: white
}

header::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: transparent;
    left: -30px;
    top: 0;
    box-shadow: 15px 0 0 0 white;
    border-top-right-radius: 50%;
}

header::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: transparent;
    right: -30px;
    top: 0;
    box-shadow: -15px 0 0 0 white;
    border-top-left-radius: 50%;
}


.remember_box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

#togglePassword {
    position: absolute;
    right: 15px; 
    cursor: pointer;
    color: white;
}
#togglePassword:hover {
    color: #00baff;
}